.controlsContainer {
    max-width: 960px;
    left: 0;
    right: 0;
    margin: 20px auto;
    position: absolute;
    background-color: black;
    opacity: 0.8;
    padding: 20px;
}

.infoImage {
    max-width: 500px;
}

.controlsImage {
    max-width: 650px;
}

h1 {
    color: white;
    font-size: x-large;
}

p {
    color: white;
    font-size: small;
}

table {
    font-size: small;
}