.controlsContainer {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0px auto;
    position: absolute;
    background-color: black;
    opacity: 0.8;
}

.controls {
    max-width: 960px;
    left: 0;
    right: 0;
    margin: auto;
}

.infoImage {
    max-width: 500px;
}

.controlsImage {
    max-width: 650px;
}

h1 {
    color: white;
    font-size: x-large;
}

p {
    color: white;
    font-size: small;
}

table {
    font-size: small;
}