.titleContainer {
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2000;
    padding: 10px;
    opacity: 0.5;
}

.title {
    height: 100px;
}

.navigationButton {
    font-size: large;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    color: black;
}

.navigation {
    margin: 10px
}

.navigation > a {
    text-decoration: none;
}

.isActive > span {
    background-color: lightgrey;
}