.scoresContainer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    margin: 15px;
    text-align: center a;
    color: white;
    height: 50px;
}

.scoresTitle {
    height: 32px;
    margin: 5px;
    padding: 8px 0px 0px;
    background-color: darkslategray;
    cursor: pointer;
}

.scoresTitle:hover {
    opacity: 0.7;
}