.score {
    font-size: x-large;
    font-weight: bold;
    margin: 5px 10px;
    display: inline-block;
}

.text {
    font-size: large;
    display: inline-block;
    color: white;
}

.control {
    margin: 5px 10px;
}

.scoresContainer {
    margin: 5px;
}

.addAiButton {
    font-size: large;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.playButton {
    background-color: lightgreen;
}

.quitButton {
    background-color: red;
}

.winnerContainer {
    padding-top: 10px;
}

.winner {
    font-size: large;
    font-weight: bold;
}

.addAi {
    margin: 10px
}

.name {
    font-size: large;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.playFabName{
    font-size: large;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.red {
    background-color: pink;
}

.nameInput {
    outline: none;
    border: none;
    
}