table {
    border-collapse: collapse;
    color: white;
    width: 100%;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid white;
}

.tableContainer {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}